*,
*::before,
*::after {
    box-sizing: border-box;
}

ul[class],
ol[class] {
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

.container { width: 1170px; margin:0 auto; }

h2 {
    padding: 50px 169px 40px 179px;
    text-align: center

}
.text{
    width: 1169px;
    height: 21px;
    text-align: center;
    background-color: red;

}
.square{
    width: 370px;
    height: 383px;
    background-color: blue;
    margin: 71px 10px 58px 10px;
    float: left;
}
.img_square{
    width: 65px;
    height: 65px;
    background-color: green;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 52px;
    margin-bottom: 52px;
}
.hin-square{
    width: 369px;
    height: 100px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px;
}

.textinsquare {
    width: 369px;
    height: 100px;
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}



